<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- register the event store module -->
    <import resource="classpath:spring-event-store.xml"/>
    <!-- register the event subscriber module -->
    <import resource="classpath:spring-event-subscriber.xml"/>
    <!-- register the XES event publisher module -->
    <import resource="classpath:spring-xes-event-publisher.xml"/>
	<!-- register and startup the activemq embedded broker -->
	<import resource="classpath:broker.xml"/>
	<!-- register the activemq context -->
	<import resource="classpath:activemq-context.xml"/>

	<!-- register only UI related stuff -->
	<context:component-scan base-package="es.uc3m.softlab.cbi4api.gbas.web" />

    <mvc:annotation-driven />
</beans>