<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!-- -->
<!-- Log4j Configuration -->
<!-- -->
<!-- ===================================================================== -->

<!-- | For more configuration infromation and examples see the Jakarta Log4j 
	 | owebsite: http://jakarta.apache.org/log4j -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- ================================= -->

	<!-- A time/date based rolling appender -->
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${cbi4api.gbas.application.logs.file}" />
		<param name="Append" value="false" />
        <param name="Threshold" value="INFO" />

		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<!-- Rollover at the top of each hour <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/> -->

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="[%-5p] {%d} (%c: %L) : %m%n" />

			<!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n 
				<param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/> -->
		</layout>
	</appender>

	<!-- ============================== -->
	<!-- Append messages to the console -->
	<!-- ============================== -->

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<!-- <param name="Target" value="System.out"/> -->
		<param name="Threshold" value="INFO" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
			-->
            <param name="ConversionPattern" value="[%-5p] {%d} (%c: %L) : %m%n" />
		</layout>
	</appender>

    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->

    <appender name="datanucleus" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${cbi4api.gbas.application.logs.datanucleus.file}" />
        <param name="Append" value="false" />
        <param name="Threshold" value="INFO" />

        <!-- Rollover at midnight each day -->
        <param name="DatePattern" value="'.'yyyy-MM-dd" />

        <!-- Rollover at the top of each hour <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/> -->

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="[%-5p] {%d} (%c: %L) : %m%n" />

            <!-- The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n
                <param name="ConversionPattern" value="%d %-5r %-5p [%c] (%t:%x) %m%n"/> -->
        </layout>
    </appender>

	<!-- ================ -->
	<!-- Limit categories -->
	<!-- ================ -->

	<!-- Limit the es.uc3m.softlab.cbi4api.gbas category to INFO as its DEBUG is verbose -->
	<category name="es.uc3m.softlab.cbi4api.gbas">
		<priority value="INFO" />
	</category>
    
	<category name="org.springframework">
		<priority value="INFO" />
	</category>

	<category name="javax.enterprise">
		<priority value="INFO" />
	</category>

	<category name="org.apache">
		<priority value="INFO" />
	</category>

    <category name="DataNucleus.Enhancer">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.MetaData">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.Datastore">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.Datastore.Schema">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.Datastore.Persist">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.Datastore.Retrieve">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.Datastore.Native">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.General">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.Lifecycle">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.ValueGeneration">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.SchemaTool">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.JDO">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.JPA">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.JCA">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

    <category name="DataNucleus.IDE">
        <priority value="INFO" />
        <appender-ref ref="datanucleus"/>
    </category>

	<!-- ======================= -->
	<!-- Setup the Root category -->
	<!-- ======================= -->

	<root>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>

</log4j:configuration>