<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- register and startup the activemq embedded broker for unit testing 
         This must be provided by the main application context
	<import resource="classpath:broker.xml"/>
	<import resource="classpath:activemq-context.xml"/>
	-->

	<!-- register the camel context -->
	<import resource="classpath:camel-context.xml"/>	  
	
	<!-- enabling annotation driven configuration -->
	<context:annotation-config />
	<context:component-scan base-package="es.uc3m.softlab.cbi4api.gbas.event.subscriber" />
	
</beans>